{% extends "admin/change_form.html" %}
{% load i18n admin_urls static jazzmin %}
{% load static %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}
delete-confirmation{%endblock %}

{% block breadcrumbs %}
{% include 'domservers_include/_breadcrumbs.html' %}
{% endblock %}

{% block content_title %}
選擇題目
{% endblock %}
{% block content %}

<div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header with-border">
                <h4 class="card-title">
                    選擇放入考區的題目
                </h4>
            </div>

            <div class="card-body">
                <div id="content-main">
                    <form action="{% url 'contest_problem_shortname_create' %}" method="post">
                        {% csrf_token %}
                        client_name:{{server_client_id}}
                        <input type="hidden" name="server_client_id" value="{{server_client_id}}">
                        <div class="row">
                            <div class="col-12 col-sm-9">
                                <div class="form-check w-100">
                                    <input type="checkbox" style="width: 1.3rem; height: 1.3rem;"
                                        class="form-check-input" id="selectAll">
                                    <div class="form-group text-center border rounded p-1 m-2">
                                        <label class="form-check-label" for="selectAll">全選</label>
                                    </div>
                                </div>
                            </div>
                            {% for obj in problem_log_objs_list %}
                            <div class="col-12 col-sm-9">
                                <div class="form-check w-100">
                                    <input class="form-check-input" style="width: 1.3rem; height: 1.3rem;"
                                        type="checkbox" value="{{obj.problem.name}}:{{obj.problem.id}}:{{obj.web_problem_id}}" name="checkboxGroup"
                                        id="{{obj.problem.id}}">                                    
                                    <div class="form-group text-center border rounded p-1 m-2">
                                        <label class="form-check-label" for="{{obj.problem.id}}">
                                            {{obj.problem.name}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <div class="col-12 col-sm-3 mt-auto">
                                <input type="hidden" name="contestDataJson" id="contestHidden">
                                <input type="hidden" name="selectedCheckboxes" id="checkboxHidden">
                                <div class="form-group">
                                    <button onclick="getSelectedCheckboxes()" type="button"
                                        class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                                        創建考區
                                    </button>
                                </div>

                                <div class="form-group">
                                    <button onclick="history.back()" type="button"
                                        class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                                        返回
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        let select_all = document.querySelector("#selectAll")
        select_all.addEventListener("change", function () {
            // 獲取所有其他複選框
            let checkboxes = document.querySelectorAll(".form-check-input");

            // 將所有其他複選框的狀態設置為與全選框相同
            checkboxes.forEach(function (checkbox) {
                checkbox.checked = document.getElementById("selectAll").checked;
            });
        });

        function getSelectedCheckboxes() {
            // 獲取所有選中的复選框的值
            let checkboxes = document.querySelectorAll('input[name="checkboxGroup"]:checked');
            let selectedCheckboxes = Array.from(checkboxes).map(function (checkbox) {
                let parts = checkbox.value.split(':');
                console.log(parts);
                return {
                    name: parts[0],
                    local_id: parts[1],
                    id: parts[2],
                };
            });
            let checkboxHidden = document.querySelector("#checkboxHidden");
            let contestHidden = document.querySelector("#contestHidden");
            let form = document.querySelector("form[method='post']");

            checkboxHidden.value = JSON.stringify(selectedCheckboxes);
            contestHidden.value = "{{ contest_data_json|escapejs }}";

            form.submit();
        }
    </script>

    {% endblock %}