{% extends "admin/base_site.html" %}
{% load i18n admin_urls static jazzmin %}
{% load static %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}
delete-confirmation{%endblock %}

{% block breadcrumbs %}
{% include 'include/_breadcrumbs.html' %}
{% endblock %}

{% block content_title %}
修改題目簡稱
{% endblock %}
{% block content %}

<div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header with-border">
                <h4 class="card-title">
                    修改考區的題目簡稱
                </h4>
            </div>

            <div class="card-body">
                <div id="content-main">
                    <form action="{% url 'contest_problem_shortname_edit' server_client_id contest_id %}" method="post">
                        {% csrf_token %}
                        <!-- server_client_id:{{server_client_id}}
                        selected_problem_dict:{{selected_problem_dict}} -->
                        <!-- <input type="hidden" name="server_client_id" value="{{server_client_id}}"> -->
                        <input type="hidden" name="contest_data_json" value="{{create_data_json}}">
                        <input type="hidden" name="shortNameHidden" id="shortNameHidden">
                        <div class="row">
                            
                            {% if selected_problem_dict %}
                                {% for data in selected_problem_dict %}
                                <div class="col-12 col-sm-9">
                                    <div class="mb-3">
                                    <label for="{{data.id}}" class="form-label">{{data.name}}</label>
                                    <input type="text" class="form-control" id="{{data.id}}" name="{{data.name}}" value="{{data.shortname}}" aria-describedby="{{data.name}}lHelp" placeholder="settings shortname">                                
                                    </div>
                                </div>
                                {% endfor %}
                            {% else %}
                            <div class="col-12 col-sm-9 text-center">
                                <h2>並未選擇任何考題</h2>
                            </div>
                            {% endif %}

                            <div class="col-12 col-sm-3 mt-auto">                                
                                <div class="form-group">
                                    <button onclick="getFormValue()" type="button" class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                                        更改考區
                                    </button>
                                </div>

                                <div class="form-group">
                                    <button onclick="history.back()" type="button"
                                        class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                                        返回
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        function getFormValue() {
            // 獲取所有選中的复選框的值
            let inputs = document.querySelectorAll('input[class="form-control"]');
            let inputValues = Array.from(inputs).map(function (input) {
                return {
                    id: input.id,
                    name: input.name,
                    shortname: input.value ? input.value : input.name,
                };
            });

            let shortNameHidden = document.querySelector("#shortNameHidden");
            shortNameHidden.value = JSON.stringify(inputValues);

            let form = document.querySelector("form[method='post']");

            form.submit();
        }
    </script>

{% endblock %}