{% extends "admin/base_site.html" %}
{% load static %}
{% load i18n admin_urls static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}
delete-confirmation{%endblock %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-right">
  <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer-alt"></i> 首頁</a></li>
</ol>
{% endblock %}

{% block content_title %}
考區
{% endblock %}
{% block content %}

<div class="col-12">
    <div class="card card-primary card-outline">
        <div class="card-header with-border">
            <h4 class="card-title">
            考區內容
            </h4>            
        </div>

        <div class="card-body">
            <div id="content-main">
                <div class="row">
                    <div class="col-12 col-sm-9">
                    {% if contest_dicts %}
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">簡稱</th>
                                <th scope="col">名稱</th>
                                <th scope="col">題數</th>
                                <th scope="col">狀態</th>
                                <th scope="col">處理</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for short_name, object in contest_dicts.items %}
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                {% if short_name %}
                                <td>{{ short_name }}</td>
                                {% else %}
                                <td>{{ object.name }}</td>
                                {% endif %}
                                <td>{{ object.name }}</td>
                                <td>{{ object.problems }}</td>
                                {% if object.public == "yes" %}
                                <td>已開放</td>
                                {% else %}
                                <td>未開放</td>
                                {% endif %}
                                <td>
                                <a href="{% url 'contest_information_copy' server_client_id object.CID %}"
                                    class="btn btn-primary btn-sm">複製</a>
                                <a href="{% url 'contest_information_edit' server_client_id object.CID %}"
                                    class="btn btn-outline-primary btn-sm">編輯</a>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <div class="alert alert-secondary" role="alert">
                            暫無任何考區資訊
                        </div>
                    {% endif %}
                    </div>

                    <div class="col-12 col-sm-3 mt-auto">
                    <form method="get" action="{% url 'contest_create' %}">
                        <div class="form-group">
                        <input type="hidden" name="server_client_id" value="{{server_client_id}}">
                        <button type="submit" class="btn {{ jazzmin_ui.button_classes.primary }} form-control">新增考區</button>
                        </div>
                        <div class="form-group">
                        <button type="button" onclick="history.back()"
                            class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                            返回
                        </button>
                        </div>
                    </form>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}