{% extends "admin/change_form.html" %}
{% load i18n admin_urls static jazzmin %}
{% load static %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}
delete-confirmation{%endblock %}

{% block breadcrumbs %}
{% include 'domservers_include/_breadcrumbs.html' %}
{% endblock %}

{% block content_title %}
選擇題目
{% endblock %}
{% block content %}

<div class="col-12">
        <div class="card card-primary card-outline">
            <div class="card-header with-border">
                <h4 class="card-title">
                    選擇放入考區的題目
                </h4>
            </div>

            <div class="card-body">
                <div id="content-main">
                    <form action="{% url 'contest_problem_shortname_create' %}" method="post" id="formPost">
                        {% csrf_token %}
                        client_name:{{client_obj.id}}
                        <input type="hidden" name="server_user_id" value="{{server_user.id}}">
                        <div class="row">
                            <div class="d-flex col-12 col-sm-9">
                                <div class="card ml-3 w-100" style="height: 28rem;">
                                    <div class="card-header">
                                        選擇題目
                                    </div>
                                    <ul id="problemList" class="list-group list-group-flush overflow-auto">
                                        {% for obj in problem_log_objs_list %}
                                            <li class="list-group-item text-center" data-name={{obj.problem.name}} data-localpid={{obj.problem.id}} data-pid={{obj.web_problem_id}}>{{ obj.problem.name}}</li>
                                        {% endfor %}
                                    </ul>
                                    <div class="card-footer text-muted text-center but-pointer" style="width: 100%; margin-top: auto; cursor: pointer;" onclick="allPlusSelection()">
                                        全部加選
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                                            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z"/>
                                        </svg>
                                    </div>
                                </div>
                    
                                <div class="card ml-3 w-100" style="height: 28rem;">
                                    <div class="card-header">
                                        已選題目
                                    </div>
                                    <ul id="selectedProblem" class="list-group list-group-flush overflow-auto">
                                    </ul>
                                    <div class="card-footer text-muted text-center but-pointer" style="width: 100%; margin-top: auto; cursor: pointer;" onclick="withdrawalOfAll()">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                                            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/>
                                        </svg>
                                        全部退選
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3 mt-auto">
                                <input type="hidden" name="contestDataJson" id="contestHidden">
                                <input type="hidden" name="selectedCheckboxes" id="selectedProblemHidden">
                                <div class="form-group">
                                    <button onclick="getSelectedProblem()" type="button"
                                        class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                                        設定簡稱
                                    </button>
                                </div>

                                <div class="form-group">
                                    <button onclick="history.back()" type="button"
                                        class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                                        返回
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        let contestDataJson = "{{ contest_data_json|escapejs }}";
    </script>
    <script src="{% static 'js/selected_problem.js' %}"></script>

    {% endblock %}