{% extends "admin/base_site.html" %}
{% load i18n admin_urls static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}
delete-confirmation{%endblock %}

{% block breadcrumbs %}
{% include 'domservers_include/_breadcrumbs.html' %}
{% endblock %}

{% block content_title %}
編輯考區
{% endblock %}
{% block content %}

<div class="col-12">
    {% if process %}
    <div class="card card-danger card-outline">
        {% else %}
        <div class="card card-primary card-outline">
            {% endif %}
            <div class="card-header with-border">
                <h4 class="card-title">
                    填寫考區內容
                </h4>
            </div>

            <div class="card-body">
                <div id="content-main">
                    {{ form.non_field_errors }}
                    <form action="{% url 'domservers:contest_information_edit' server_user.id contest_id cid page_number %}" class="needs-validation" novalidate method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-12 col-sm-9">
                                <div class="form-group has-validation">
                                    {{ form.short_name.errors }}
                                    <label for="{{ form.short_name.id_for_label }}">考區簡稱:</label>
                                    {{ form.short_name }}
                                    <small id="shortNameHelp" class="form-text text-muted">輸入新考區簡稱</small>
                                    <div class="invalid-feedback">
                                        尚未輸入考區簡稱
                                    </div>
                                </div>
                                <div class="form-group has-validation">
                                    {{ form.name.errors }}
                                    <label for="{{ form.name.id_for_label }}">考區名稱:</label>
                                    {{ form.name }}
                                    <small id="nameHelp" class="form-text text-muted">輸入新考區名稱</small>
                                    <div class="invalid-feedback">
                                        尚未輸入考區名稱
                                    </div>
                                </div>
                                <div class="form-group has-validation">
                                    {{ form.activate_time.errors }}
                                    <label for="{{ form.activate_time.id_for_label }}">啟動時間:</label>
                                    {{ form.activate_time }}
                                    <small id="activate_timeHelp" class="form-text text-muted">請按照正確格式輸入
                                        例：2024-01-01 12:00:00 Asia/Taipei</small>
                                    <div class="invalid-feedback">
                                        尚未輸入啟動時間
                                    </div>
                                </div>
                                <div class="form-group has-validation">
                                    {{ form.start_time.errors }}
                                    <label for="{{ form.start_time.id_for_label }}">開始時間:</label>
                                    {{ form.start_time }}
                                    <small id="startTimeHelp" class="form-text text-muted">請按照正確格式輸入
                                        例：2024-01-01 13:00:00 Asia/Taipei</small>
                                    <div class="invalid-feedback">
                                        尚未輸入開始時間
                                    </div>
                                </div>
                                <div class="form-check">
                                    {{ form.start_time_enabled.errors }}
                                    {{ form.start_time_enabled }}
                                    <label class="form-check-label"
                                        for="{{ form.start_time_enabled.id_for_label }}">啟用開始時間</label>
                                </div>
                                <div class="form-group has-validation">
                                    {{ form.scoreboard_freeze_length.errors }}
                                    <label for="{{ form.scoreboard_freeze_length.id_for_label }}">凍結時間:</label>
                                    {{ form.scoreboard_freeze_length }}
                                    <small id="scoreboardFreezeLengthHelp" class="form-text text-muted">請按照正確格式輸入
                                        例：2024-01-01 15:00:00 Asia/Taipei，可不填寫</small>
                                    <div class="invalid-feedback">
                                        尚未輸入凍結時間
                                    </div>
                                </div>
                                <div class="form-group has-validation">
                                    {{ form.end_time.errors }}
                                    <label for="{{ form.end_time.id_for_label }}">記分牌結束時間:</label>
                                    {{ form.end_time }}
                                    <small id="end_timeHelp" class="form-text text-muted">請按照正確格式輸入 例：2024-01-01 18:00:00 Asia/Taipei</small>
                                    <div class="invalid-feedback">
                                        尚未輸入結束時間
                                    </div>
                                </div>
                                <div class="form-group has-validation">
                                    {{ form.scoreboard_unfreeze_time.errors }}
                                    <label for="{{ form.scoreboard_unfreeze_time.id_for_label }}">記分牌解凍時間:</label>
                                    {{ form.scoreboard_unfreeze_time }}
                                    <small id="scoreboard_unfreeze_timeHelp" class="form-text text-muted">請按照正確格式輸入
                                        例：2024-01-01 20:00:00 Asia/Taipei，可不填寫</small>
                                    <div class="invalid-feedback">
                                        尚未輸入記分牌解凍時間
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form.deactivate_time.errors }}
                                    <label for="{{ form.deactivate_time.id_for_label }}">停用時間:</label>
                                    {{ form.deactivate_time }}
                                    <small id="deactivate_timeHelp" class="form-text text-muted">請按照正確格式輸入
                                        例：2024-01-01 22:00:00 Asia/Taipei，可不填寫</small>
                                    <div class="invalid-feedback">
                                        尚未輸入停用時間
                                    </div>
                                </div>
                                
                                <div class="form-check">
                                    {{ form.process_balloons.errors }}
                                    {{ form.process_balloons }}
                                    <label class="form-check-label"
                                        for="{{ form.process_balloons.id_for_label }}">啟用處理氣球</label>
                                </div>
                                <div class="form-check">
                                    {{ form.contest_visible_on_public_scoreboard.errors }}
                                    {{ form.contest_visible_on_public_scoreboard }}
                                    <label class="form-check-label"
                                        for="{{ form.contest_visible_on_public_scoreboard.id_for_label }}">比賽在公共計分板上可見</label>
                                </div>
                                <div class="form-check">
                                    {{ form.open_to_all_teams.errors }}
                                    {{ form.open_to_all_teams }}
                                    <label class="form-check-label"
                                        for="{{ form.open_to_all_teams.id_for_label }}">向所有團隊開放</label>
                                </div>
                                <div class="form-check">
                                    {{ form.enabled.errors }}
                                    {{ form.enabled }}
                                    <label class="form-check-label" for="{{ form.enabled.id_for_label }}">啟用</label>
                                </div>
                            </div>

                            <div class="col-12 col-sm-3 mt-auto">
                                {{ problem_information }}
                                <div class="form-group">
                                    <input type="submit" class="btn {{ jazzmin_ui.button_classes.primary }} w-100"
                                    value="選擇題目">
                                </div>
                                
                                <div class="form-group">
                                    <button onclick="history.back()" type="button"
                                    class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link w-100">
                                    返回
                                </button>
                                </div>                                
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'js/utils/bootstrap_form_validation.js' %}"></script>

{% endblock %}