{% extends "admin/base_site.html" %}
{% load static %}

{% block breadcrumbs %}
{% include 'domservers_include/_breadcrumbs.html' %}
{% endblock %}

{% block content_title %}
創建/修改題目簡稱
{% endblock %}
{% block content %}

<div class="col-12">
    <div class="card card-primary card-outline">
        <div class="card-header with-border">
            <h4 class="card-title">
                創建/修改考區的題目簡稱
            </h4>
        </div>

        <div class="card-body">
            <div id="content-main">
                {% if cid %}
                    <form action="{% url 'domservers:contest_problem_shortname_edit' server_user.id cid %}" method="post">
                {% else %}
                    <form action="{% url 'domservers:contest_problem_create' server_user.id %}" method="post">
                {% endif %}
                    {% csrf_token %}
                    <input type="hidden" name="contest_data_json" value="{{create_data_json}}">
                    <input type="hidden" name="shortNameHidden" id="shortNameHidden">
                    <div class="row">
                        {% if selected_problem_dict %}
                            {% for data in selected_problem_dict %}
                            <div class="col-12 col-sm-9">
                                <div class="mb-3">
                                <label for="{{data.id}}:{{data.local_id}}" class="form-label">{{data.name}}</label>
                                <input type="text" class="form-control" id="{{data.id}}:{{data.local_id}}" name="{{data.name}}" value="{{data.shortname}}" aria-describedby="{{data.name}}lHelp" placeholder="settings shortname">                                
                                </div>
                            </div>
                            {% endfor %}
                        {% else %}
                        <div class="col-12 col-sm-9 text-center">
                            <h2>並未選擇任何考題</h2>
                        </div>
                        {% endif %}

                        <div class="col-12 col-sm-3 mt-auto">                                
                            <div class="form-group">
                                <button onclick="getFormValue()" type="button" class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                                    確認
                                </button>
                            </div>

                            <div class="form-group">
                                <button onclick="history.back()" type="button"
                                    class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                                    返回
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

    
{% endblock %}
    
{% block extrajs %}
<script src="{% static 'js/domservers/shortname_get_form_value.js' %}"></script>
{% endblock %}