{% extends "admin/change_form.html" %}
{% load static %}
{% load i18n admin_urls static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}
delete-confirmation{%endblock %}

{% block breadcrumbs %}
{% include 'domservers_include/_breadcrumbs.html' %}
{% endblock %}

{% block content_title %}
考區內容
{% endblock %}
{% block content %}

<div class="col-12">
    <div class="card card-primary card-outline">
        <div class="card-header with-border">
            <h4 class="card-title">
            考區列表
            </h4>            
        </div>

        <div class="card-body">
            <div id="content-main">
                <div class="row">
                    <div class="col-12 col-sm-9">
                    {% if page_obj %}
                        <table class="table">
                            <tbody>
                            {% for obj in page_obj %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ obj.short_name }}</td>
                                    <td>{{ obj.name }}</td>
                                    <td>{{ obj.filtered_contest_log.count }}</td>
                                    {% if obj.enabled == True %}
                                        <td>已啟用</td>
                                    {% else %}
                                        <td>未啟用</td>
                                    {% endif %}
                                    <td>
                                        <a href="{% url 'domservers:contest_information_copy' server_user.id obj.id obj.cid %}"
                                            class="btn btn-primary btn-sm">複製</a>
                                        <a href="{% url 'domservers:contest_information_edit' server_user.id obj.id obj.cid page_obj.number %}"
                                            class="btn btn-outline-primary btn-sm">編輯</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <!-- 分頁導航 -->
                        <div class="pagination">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-end">
                                    <li class="page-item">
                                        <a class="page-link" {% if page_obj.has_previous %} href="?page=1" {% else %} style="pointer-events: none; color: #ccc;" {% endif %}>&laquo; 第一頁</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" {% if page_obj.has_previous %} href="?page={{ page_obj.previous_page_number }}" {% else %} style="pointer-events: none; color: #ccc;" {% endif %}>上一頁</a>
                                    </li>
                                    <li class="page-item">
                                        <button class="page-link" type="button">{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}</button>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" {% if page_obj.has_next %} href="?page={{ page_obj.next_page_number }}" {% else %} style="pointer-events: none; color: #ccc;" {% endif %}>下一頁</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" {% if page_obj.has_next %} href="?page={{ page_obj.paginator.num_pages }}" {% else %} style="pointer-events: none; color: #ccc;" {% endif %}>最後一頁 &raquo;</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    {% else %}
                        <div class="alert alert-secondary" role="alert">
                            暫無任何考區資訊
                        </div>
                    {% endif %}
                    </div>

                    <div class="col-12 col-sm-3 mt-auto">
                    <form method="get" action="{% url 'domservers:contest_create' %}">
                        <div class="form-group">
                        <input type="hidden" name="server_user_id" value="{{server_user.id}}">
                        <button type="submit" class="btn {{ jazzmin_ui.button_classes.primary }} form-control">新增考區</button>
                        </div>
                        <div class="form-group">
                        <button type="button" onclick="history.back()"
                            class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control">
                            返回
                        </button>
                        </div>
                    </form>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}