[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
werkzeug = "*"

[packages]
django = "*"
django-extensions = "*"
pyyaml = "*"
django-jazzmin = "*"

[requires]
python_version = "3.8"
