{% extends "admin/change_form.html" %}
{% load add_preserved_filters from admin_urls %}

{% block object-tools-items %}
  {% for tool in objectactions %}
    <li class="objectaction-item pt-2 w-100" data-tool-name="{{ tool.name }}">
      {% url tools_view_name pk=object_id tool=tool.name as action_url %}
      <a href="{% add_preserved_filters action_url %}" title="{{ tool.standard_attrs.title }}"
         {% for k, v in tool.custom_attrs.items %}
           {{ k }}="{{ v }}"
         {% endfor %}
         class="w-100 btn btn-block btn-outline-success {{ tool.standard_attrs.class }} btn-sm">
      {{ tool.label|capfirst }}
      </a>
    </li>
  {% endfor %}
  <hr>
  <li class="objectaction-item pt-2 w-100">
  {{ block.super }}
  </li>
{% endblock %}
