{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
{% include 'problems_include/_breadcrumbs.html' %}
{% endblock %}

{% block content_title %}
題目取代
{% endblock %}
{% block content %}
<div class="col-12">
    <div class="card card-primary card-outline">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="container d-flex flex-column align-items-center">
                <h1 class="mt-5" id="ai_verify">取代確認</h1>
    
                <ul class="ps-0">
                    您確定要刪除並取代 "{{ obj.name }}" 題目嗎?
                </ul>
    
               
                <div class="w-100 m-3 text-center">
                    <button type="submit" class="btn btn-danger m-2" style="width: 15rem;">確認</button>
                    <a href="{% url 'admin:problems_problem_changelist' %}" class="btn btn-primary m-2" style="width: 15rem;">返回</a>
                </div>
                
                <div class="w-75" id="fileList"></div>
            </div>

        </form>
    </div>
</div>

{% endblock %}