{% extends "admin/base_site.html" %}
{% load i18n admin_urls static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block extrahead %}
{{ block.super }}
{{ media }}
<script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation{% endblock %}

{% block breadcrumbs %}
{% include 'problems_include/_breadcrumbs.html' %}
{% endblock %}

{% block content_title %}
上傳
{% endblock %}
{% block content %}

<div class="col-12">
    <div class="card card-primary card-outline">
        <div class="card-header with-border">
            <h4 class="card-title">
                題目
            </h4>
        </div>
        <div class="content-header"></div>
        <div class="card-body">
            <div id="content-main">
                <div class="row">
                    <div class="col-12 col-sm-9">
                        <table class="table">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">名稱</th>
                                <th scope="col">狀態</th>
                                <th scope="col">操作</th>
                              </tr>
                            </thead>
                            <tbody id="problemTable">
                                {% for name, value in problem_info.items %}
                                    <tr class="problemTableTr">
                                        <input type="hidden" name="problemHiddenID" value="{{value.problem_id}}">
                                        <th scope="row">{{ forloop.counter }}</th>
                                        <td>{{ name }}</td>
                                         
                                        {% if value.web_problem_state == "未上傳" %}
                                            <td>未上傳</td>
                                        {% else %}
                                            <td>已上傳</td>
                                        {% endif %}
                                            
                                        {% if value.web_problem_state == "已上傳" %}
                                            <td>
                                                <button type="button" name="errorButton" class="btn btn-danger btn-sm" onclick="removeRow(this)">移除</button>
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}                                
                            </tbody>
                          </table>
                    </div>

                    <div class="col-12 col-sm-3 mt-auto">
                        <form action="{% url 'problems:problem_upload' %}" method="post" id="form">{% csrf_token %}
                            <input type="hidden" name="problemIdHidden">

                            <div class="form-group">
                                <select name="domserver" class="form-select w-100 p-2 rounded" aria-label="Default select example">
                                    {% for name in servers_client_name %}
                                    <option value="{{ name }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <select name="contests" class="form-select w-100 p-2 rounded" aria-label="Default select example">
                                    {% for name, value in contest_name %}
                                    <option value="{{ value }}">{{ name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="input_submit" class="btn {{ jazzmin_ui.button_classes.primary }} form-control" value="{% trans "Yes, I'm sure" %}">
                            </div>
                            <div class="form-group">
                                <input type="button" onclick="history.back()"
                                        class="btn {{ jazzmin_ui.button_classes.primary }} cancel-link form-control" value="{% trans "No, take me back" %}">
                            </div>                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const domserverSelect = document.querySelector('[name="domserver"]');
    const contestsSelect = document.querySelector('[name="contests"]');
    const contentHeader = document.querySelector('.content-header');
    const inputSubmit = document.querySelector('#input_submit');
    const csrfToken = "{{ csrf_token }}";
</script>
<script src="{% static 'js/problems/upload_problem.js' %}"></script>

{% endblock %}
